      <footer class="site-footer">
        <div class="site-footer-inner">
          <span>County Government of Uasin Gishu</span>
          <span>Attachment Application Portal</span>
          <span>&copy; <%= new Date().getFullYear() %></span>
        </div>
      </footer>
    </div>
  </body>
</html>
